
body {
    padding: 56px 0 56px 0; font-family: 'Open Sans', "sans-serif";
}
main { 
    padding: 5px 0 5px 0;

}
.bannerTop{
     height: 480px; margin: auto; background-position: center center; background-repeat: no-repeat; background-size: cover;
}
/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
  
  .navbar .navbar-nav .nav-link:hover {
    transform: scale(1.15);
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
    
  }